.filter__label {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.filter__input {
  display: inline-block;
  width: 100%;
  padding: 0.6rem;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: inherit;
}

.filter__input:focus {
  outline: none;
}
.filter__input option {
  padding: 0.6rem;
  display: block;
}